@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --section-padding-default: 120px;
  --section-padding-slim: 48px;
  --section-padding-none: 0px;
  
  @media screen and (max-width: 1080px) {
    --section-padding-default: 120px;
    --section-padding-slim: 40px;
    --section-padding-none: 0px;
  }
  @media screen and (max-width: 800px) {
    --section-padding-default: 96px;
    --section-padding-slim: 32px;
    --section-padding-none: 0px;
  }
  @media screen and (max-width: 390px) {
    --section-padding-default: 80px;
    --section-padding-slim: 24px;
    --section-padding-none: 0px;
  }
}

.no-transition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body {
  //if class begins with .animation- then it will be animated
  [class^="animation-"],
  [class*=" animation-"] {
    visibility: hidden;
  }

  //if class begins with .animation-disappear then it will initally be visible
  [class^="animation-disappear-"],
  [class*=" animation-disappear-"] {
    visibility: visible;
  }
}