@use "../../ui/styles/figma-variables.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.no-transition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body {
  //if class begins with .animation- then it will be animated
  [class^="animation-"],
  [class*=" animation-"] {
    visibility: hidden;
  }

  //if class begins with .animation-disappear then it will initally be visible
  [class^="animation-disappear-"],
  [class*=" animation-disappear-"] {
    visibility: visible;
  }
}
